@page "/genre/{GenreName}"
@using Microsoft.EntityFrameworkCore
@using Bookstore.Models
@inject IDbContextFactory<Bookstore.Data.BookstoreDb> DbFactory
@rendermode InteractiveServer

<PageTitle>Bookstore - @GenreName</PageTitle>

<h1>Genre: @GenreName</h1>
<div class="row mt-5 mx-auto">

    <div class="col">
        @if (books is null)
        {
            <p>Loading...</p>
        }
        else if (!books.Any())
        {
            <p>No books found in this genre.</p>
        }
        else
        {
            <div class="hstack flex-wrap gap-3">
                @foreach (var book in books)
                {
                    <BookCard Book="@book" />
                }
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string GenreName { get; set; } = string.Empty;

    private IEnumerable<Book> books = Enumerable.Empty<Book>();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        books = await context.Books
            .Where(b => b.Genre == GenreName)
            .ToListAsync();
    }
}
